nav ul {display: inline; list-style: none; }
nav li {padding-right: 10px;}
#login, #menu {padding: 10px;}

#login{ background: lightgrey; }
#login ul li{float: inline-end;}

#menu{background: silver}
#menu ul li{float: inline-start;}

#sis {background: rgb(50, 200, 205);}

#file {background: coral}  /* mediumorchid; darkgreen*/

#public { background:  rgb(62, 195, 228); }

@media (max-width: 600px){
  #login, #menu{display: grid; }
}