nav{
    background-color: aqua;
    display: flex;
}

nav ul li{
    background-color: blueviolet;
    float: inline-end;
    padding: 10px;
    text-decoration: none;
}

nav div{
    background-color: blanchedalmond;
    color: teal;
    margin: 5px;
    padding: 5px;
    /* width: 100px;*/ 
    flex-basis: 100px;
}

@media (max-width: 600px){
    nav :user-valid li{
        flex-direction: column;
    }

    nav ul li{
        /*width: 95%;*/
        flex-basis: 100%;
    }
}
